<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>
            <if condition="ACTION_NAME eq 'add'">
                新增广告位
            <else/>
                编辑广告位
            </if>
        </h2>
    </div>
    <hr>
    <form action="" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">标题<span class="check-tips">必填</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$name}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">标识<span class="check-tips">纯英文且必填</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="code" value="{$code}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">模板</label>
            <div class="controls">
                <select name="template">
                    <volist name=":C('ADS_TEMPLATE')" id="t">
                        <option value="{$key}">{$t}</option>
                    </volist>
                </select>
            </div>
        </div>
         <div class="form-item">
            <label class="item-label">状态<span class="check-tips"></span></label>
            <input type="radio" name="status" <if condition="$status eq 1 or $status eq ''">checked</if> value="1"  /> 开启
            <input type="radio" name="status" <eq name="status" value="0">checked</eq> value="0"  />禁用
        </div>
        <div class="form-item">
            <input type="hidden" name="id" value="{$id}" />
            <button class="btn submit-btn ajax-post btn-success btn-block" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <!-- <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button> -->
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Ads/index')}');
    </script>
</block>
