<extend name="Public/base"/>

<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>
            <if condition="ACTION_NAME eq 'add'">
                新增图标
            <else/>
                编辑图标
            </if>
        </h2>
    </div>
    <hr>
    <form action="" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">名称<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$name|htmlspecialchars_decode}">
            </div>
        </div>

        <div class="form-item cf">
            <label class="item-label">上传图标<span class="check-tips"></span></label>
            <div class="controls">
                <div class="controls">
                    <input type="file" id="upload_picture_pic">
                    <input type="hidden" name="pic" id="cover_id_pic" value="{$pic}" />
                    <div class="upload-img-box">
                        <notempty name="pic">
                        <div class="upload-pre-item"><img src="__ROOT__{$pic}"/></div>
                        </notempty>
                    </div>
                </div>
                {:hook('adminPicUpload', array('id'=>"upload_picture_pic",'return'=>"cover_id_pic", 'type' => 'path'))}                                                              
            </div>
        </div>
       
        <div class="form-item">
            <input type="hidden" name="id" value="{$id}" />
            <input type="hidden" name="pack_id" value="{$pack_id}" />
            <button class="btn submit-btn ajax-post btn-success btn-block" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <!-- <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button> -->
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('IconPacks/index')}');
        Think.setValue("type", '{$type}');
    </script>
</block>
