html, body {
  font: 12px/1.5 "microsoft yahei", Helvetica, Tahoma, Arial, sans-serif;
  color: #404040;
}
html,body,input,textarea,select,legend {
	color: #635c73;
	/*全局默认文字颜色*/
}






a{
	color: #5cb85c;
	/*全局默认链接颜色*/
}
a:hover{
	color: #449d44;
	/*全局默认链接悬停颜色*/
}
.main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #FFF;
  text-align: center;
  font-weight: bold;
}
.main-nav a:hover {
  color: #FFF;
  text-decoration: none;
  border-bottom: none;

  background-color: #383838;
}
.main-nav .current a {
  color: #FFF;
  /*background-color: #86db00;*/
  background-color: #01DFF6;
}
.btn:hover
{
	 border-bottom: 1px solid #adadad;
}

.tab-nav .current a, .tab-nav .current a:hover {
  border-color: #e0e0e0 #e0e0e0 #f6f6f6;
  background: #eee;
}

/* 列表分页 */
.page {
    margin: 10px 0;
    *zoom: 1;
}
.page a,
.page span {
    color: #fff;
    /*background-color: #696969;*/
}

/* 列表分页 */
.page a,
.page span {
    color: #000;
    border: 1px solid #ccc;
    /*background-color: #00C7E8;*/
}
.page a:hover {
    background-color: #E1E1E1;
}
.page .current {
	border: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	background: #D8D8D8;
}



/*  form  */

.input-large { width: 80%;}	
.input-small { width: 20%;}
.input-mini  { width: 10%;}



select.form-control { width: 50%;}


.tab-nav {
	margin-bottom: 15px;
}
.tab-nav li a,
.tab-nav li a:hover {
	padding: 0 20px;
	height: 35px;
	line-height: 35px;
	font-weight: normal;
	font-size: 14px;
	border: 1px solid transparent;
	border-top-width: 2px;
}

.uploadify-button  {
	border-radius: 4px;
}


.form-action 
{
	margin-top: 15px;
}

.item-label .check-tips {
  margin-left: 8px;
  color: #aaa;
  font-weight: normal;
}

.pic_ul li {float: left; width: 100px;}
.pic_ul li img { vertical-align: middle;}
.pic_ul li .title, .pic_ul li .action { text-align: center; width: 100px}
.clear { clear: both;}

.form-action .btn
{
  width: 25%;
}

/* body 配色*/
#login-page {
    color: #000;
    background-color: #30333F;
}


#login-page .login-form {
    background-color: #fff;
    box-shadow: 0 0 26px #041A36;
    border-top-color: #01DFF6;
    border-radius: 5px;
}
#login-page .login-form h3 {
    color: #8D9CAA;
}
#login-page .login-form .check-tips {
    color: #ff0000;
}
#login-page .login-form .item {
    border-color:  #ececec;
}
#login-page .login-form .focus {
    border-color: #c2a0f3;
    box-shadow: 0 0 12px #f0d4ff;
}
#login-page .login-form .icon-login-user,
#login-page .login-form .icon-login-pwd,
#login-page login-form .icon-login-verifycode {
    background: url("../images/icon24_login.png") no-repeat;
}
#login-page .login-form .icon-login-user {
    background-position: 0 0;
}
#login-page .login-form .icon-login-pwd {
    background-position: -48px 0;
}
#login-page .login-form .icon-login-verifycode {
    background-position: -24px 0;
}
#login-page .login-form input {
    background-color: #fff;
    color:#686868;
}
#login-page .login-form .login-btn {
    color: #FFFFFF;
    background-color: #01DFF6;
    border-radius: 5px;
}
#login-page .login-form .login-btn:hover {
    background-color: #01DFF6;
}
#login-page .login-form .login-btn[disabled] {
    opacity: 0.6;
    filter: alpha(opacity=60);
    cursor: default;
    box-shadow: none;
}
#login-page .icon-loading {
    background: url(../images/loading_icon.gif) no-repeat 0 0;
}


#login-page input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
#login-page .logo-img {
    background: url(../images/logo.png) no-repeat 0 center;
}

#login-page .welcome{
    color:#ddd;
}

#login-page .reloadverify{
    color: #cd9eff;
}

#login-page img.verifyimg{
  border-color: #ececec;
}