<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>游戏【{$game.name}】赛事列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('add?game_id='.$game_id)}">新 增</a>
            <button class="btn btn-default ajax-post" url="{:U('changeStatus',array('method'=>'resume'))}" target-form="ids">启 用</button>
            <button class="btn btn-default ajax-post" url="{:U('changeStatus',array('method'=>'forbid'))}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm btn-danger" url="{:U('del')}" target-form="ids">删 除</button>
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="title" class="search-input" value="{:I('title')}" placeholder="搜索关键字">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index?game_id='.$game_id)}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="table table-bordered">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th>ID</th>
		<th>赛程状态</th>
		<th class="">赛事名称</th>
		<th class="">LOGO</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
            <td>{$vo.id}</td>
            <td>{$vo.match_state_text|default="-"} | [<a href="{:U('changeState?state=2&id='.$vo['id'])}" class="ajax-get">直</a>]
            [<a href="{:U('changeState?state=1&id='.$vo['id'])}" class="ajax-get">预</a>]
            [<a href="{:U('changeState?state=0&id='.$vo['id'])}" class="ajax-get">普</a>]</td>
			<td>{$vo.title} </td>
			<td><div class="upload-img-box">
                <notempty name="vo.logo">
                    <div class="upload-pre-item"><img src="__ROOT__{$vo.logo}"/></div>
                </notempty>
                </div></td>
			<td>{$vo.status_text}</td>
			<td>
				<a href="{:U('items?game='.$game_id.'&id='.$vo['id'])}">比赛</a>
				<a href="{:U('edit?game_id='.$game_id.'&id='.$vo['id'])}">编辑</a>
				<a href="{:U('del?id='.$vo['id'])}" class="confirm ajax-get">删除</a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('Game/index')}');
	</script>
</block>
