<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>设置比赛【{$race['title']}】视频</h2>
    </div>
    <div class="tab-content">
    <notempty name="race.match_videos">
    <form action="" method="post" class="form-horizontal">
        <div class="data-table table-striped" style="">
        <table class="table table-bordered">
            <thead>
                <tr>
                <th class="row-selected row-selected" style="width: 100px"><input class="check-all" type="checkbox"/>勾选删除</th>
                <th>视频</th>
                <th width="20%" class="">时间结点 (必须使用 00:00 这样的格式)</th>
                </tr>
            </thead>
        <tbody>
            <volist name="race.match_videos" id="vd">
                <tr>
                    <td><input class="ids" type="checkbox" name="delete[]" value="{$vd}" /></td>
                    <td><a target="_blank" href="{:U('Video/edit?id='.$vd)}">{$videos[$vd]['full_title']|default=$videos[$vd]['title']|htmlspecialchars_decode} 【{$videos[$vd]['detail']}】</a></td>
                    <td><input class="text" name="video_times[{$vd}]" value="{$race['match_times'][$key]}" /></td>
                </tr>
            </volist>
        </tbody>
        </table>
        </div>
       <!--  <table width="400">
            <tbody>
                <tr>
                    <td>
                        <label class="item-label">视频</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="select-default">
                            <label class="item-label">添加的</label>
                                <select size="8" class="select" id="selected_video" name="videos[]" multiple="multiple">
                                    <notempty name="race.videos">
                                        <volist name="race.videos" id="vd">
                                        <option value="{$vd}" selected="">
                                            {$videos[$vd]['title']}<small>【{$videos[$vd]['detail']}】</small>
                                        </option>
                                        </volist>
                                    </notempty>
                                </select> 
                        </div> 
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <div class="form-item">
            <label class="item-label">时间组<span class="check-tips">与所选视频对应，回车输入</span></label>
            <div class="controls">
                <label class="textarea input-large">
                    <textarea name="time_group">{$race['time_group']}</textarea>
                </label>
            </div>
        </div> -->
       <!--  <input type="checkbox"> 选中删除 -->
        <br><br>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" onclick="do_submit();" type="submit" target-form="form-horizontal">确 定</button>
            <!-- <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button> -->
        </div>
    </form>
    <else />
        <div class="form-item">
            <div class="controls">
                <font color="red"><strong>请先在“视频”管理设置比赛所属的视频</strong></font>
            </div>
        </div>
        <br><br>
        <div class="form-item">
            <!-- <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button> -->
        </div>
    </notempty>
    </div>
</block>

<block name="script">
    <script type="text/javascript">

         //确认提交前把selected框所有选中
        function do_submit(){
            $('#selected_video').find('option').prop('selected',true);
        }

        //对增加按钮进行事件绑定
        $('.add_em').click( function(){
            var optionType = "#select_video option:selected";
            var selectedType = "#selected_video";
            var selectVal = $("#select_video").val();
            if(selectVal){
                $(optionType).each( function(){
                    $(selectedType).append("<option selected value='"+$(this).val()+"'>"+$(this).text()+"</option");
                });
            }
        });

        //对移除按钮进行事件绑定
        $('.remove_em').click( function(){
            var optionType = "#selected_video option:selected";
            var selectVal = $("#selected_video").val();
            if(selectVal){
                $(optionType).each( function(){
                    $(this).remove();  
                });
            };
        });

        //置顶
        $('.JS_first').click(function(){
            var classType = "#selected_video";
            var optionType = "#selected_video option:selected";
            var selectVal = $(classType).val();
            if(selectVal){
                $(optionType).each( function(){
                    $(classType).prepend("<option selected value='"+$(this).val()+"'>"+$(this).text()+"</option");
                    $(this).remove();  
                });
            };
        });

        //往上
        $('.JS_up').click(function(){
            var optType = "#selected_video option";
            var optSelType = "#selected_video option:selected";
            var selectVal = $("#selected_video").val();
            if(selectVal){
                var index = $(optSelType).eq(0).index() - 1;
                index = index < 0 ? 0 : index;
                $(optSelType).each( function(){
                    $(optType).eq(index).before("<option selected value='"+$(this).val()+"'>"+$(this).text()+"</option");
                    $(this).remove();  
                });
            };
        });

        //往下
        $('.JS_down').click(function(){
            var optType = "#selected_video option";
            var optSelType = "#selected_video option:selected";
            var selectVal = $("#selected_video").val();
            if(selectVal){
                var index = $(optSelType).eq(0).index() + 1,
                    l = $(optType).length - 1;
                index = index > l ? l : index;
                $(optSelType).each( function(){
                    $(optType).eq(index).after("<option selected value='"+$(this).val()+"'>"+$(this).text()+"</option");
                    $(this).remove();  
                });
            };
        });

        //置底
        $('.JS_last').click(function(){
            var classType = "#selected_video";
            var optionType = "#selected_video option:selected";
            var selectVal = $("#selected_video").val();
            if(selectVal){
                $(optionType).each( function(){
                    $(classType).append("<option selected value='"+$(this).val()+"'>"+$(this).text()+"</option");
                    $(this).remove();  
                });
            };
        });

        //导航高亮
        highlight_subnav('{:U('Game/index')}');
        showTab();

    </script>
</block>
