<extend name="Public/base" />

<block name="body">
	<div class="main-title cf">
		<h2>
			批量导入 [{$data.title|default='顶级菜单'}]
		</h2>
	</div>
	<!-- 标签页导航 -->
<div class="tab-wrap">
	<div class="tab-content">
	<!-- 表单 -->
	<form id="form" action="{:U('import')}" method="post" >
		<!-- 基础文档模型 -->
		<div id="tab1" class="tab-pane in tab1">
			<div class="form-item cf">
				<label class="item-label">导入的内容<span class="check-tips">（请按照导入格式输入）</span></label>
				<div class="controls">
					<label class="textarea input-large">
						<textarea name="tree"></textarea>
					</label>
				</div>
				<span class="check-tips">导入格式：标题|url(回车键)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标题|url</span>
			</div>
		</div>
		<div class="form-item cf">
			<button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form">确 定</button>
			<a class="btn btn-return" href="{:U('index?pid='.$pid)}">返 回</a>
			<input type="hidden" name="pid" value="{$pid}"/>
			<input type="hidden" name="cate_id" value="{$cate_id|default=0}">
		</div>
	</form>
	</div>
</div>
</block>

<block name="script">
<script type="text/javascript">

$('#submit').click(function(){
	$('#form').submit();
});


$(function(){
	//导航高亮
	highlight_subnav('{:U('index')}');
});
</script>
</block>
