<extend name="Public/base" />
<!-- 管理员用户组新增和编辑页面 -->
<block name="body">
	<div class="main-title">
		<h2>{$nickName}的用户组</h2>
	</div>

    <form action="{:U('AuthManager/addToGroup')}" method="POST" class="form-horizontal">
        <div class="form-item">
            <label for="auth-title" class="item-label">用户组</label>
            <div class="controls">
                <select name="group_id">
                <volist name="authGroup" id="g">
                    <option value="{$g.id}" <eq name="g['id']" value="$ugrp"> selected</eq>>{$g['title']}</option>
                </volist>
                </select>
            </div>
        </div>
        
        <div class="form-item">
            <input type="hidden" name="uid" value="{$uid}" />
            <button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
            <!-- <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button> -->
        </div>
    </form>
<block>
<block name="script">
<script type="text/javascript">
    //导航高亮
     highlight_subnav('{:U('User/index')}');
</script>
</block>
