<extend name="Public/base"/>

<block name="body">
    <link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.css" media="all">
    <div class="main-title">
        <h2>用户资料</h2>
    </div>
    <div class="form-horizontal">
        <table class="table data-table table-striped table-bordered table-condensed">
            <tbody>
                <tr>
                    <td class="text-right">用户名：</td>
                    <td>{$uid|get_username}</td>
                    <td class="text-right">头像：</td>
                    <td><img class="img-thumbnail" src="{$avatar|default="__PUBLIC__/Home/images/avatar.jpg"}" width="60" /></td>
                </tr>
                <tr>
                    <td class="text-right">用户昵称：</td>
                    <td>{$nickname}</td>
                    <td class="text-right">背景：</td>
                    <td><img src="{$background}" width="200" /></td>
                </tr>
                <tr>
                    <td class="text-right">性别：</td>
                    <td>{$gender}</td>
                    <td class="text-right">年龄：</td>
                    <td>{$age}</td>
                </tr>
                <tr>
                    <td class="text-right">星座：</td>
                    <td>{$stars}</td>
                    <td class="text-right">擅长游戏：</td>
                    <td>{$game}</td>
                </tr>
                <tr>
                    <td class="text-right">兴趣爱好：</td>
                    <td colspan="3">{$interest|default="-"}</td>
                </tr>
                <tr>
                    <td class="text-right">用户所在地：</td>
                    <td colspan="3" >{$address|default="-"}</td>
                </tr>
                <tr>
                    <td class="text-right">个人简介：</td>
                    <td colspan="3" >{$desc|default="-"}</td>
                </tr>
            </tbody>
        </table>
    </div>    
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
