<extend name="Public/base"/>

<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>
            <if condition="ACTION_NAME eq 'add'">
                新增【{$adsName}】广告
            <else/>
                编辑广告
            </if>
        </h2>
    </div>
    <hr>
    <form action="" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">标题<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$name}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">链接<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="link" value="{$link}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">排序<span class="check-tips">(数值越小排前面)</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="sort" value="{$sort}">
            </div>
        </div>
        <if condition="ACTION_NAME eq 'edit'">
        <div class="form-item">
            <label class="item-label">广告位</label>
            <div class="controls">
                <select name="ads_id">
                    <volist name="adsData" id="ads">
                    <option value="{$ads['id']}">{$ads.name}</option>
                    </volist>
                </select>
            </div>
        </div>
        <else/>
            <input type="hidden" name="ads_id" value="{$Think.get.adsId}">
        </if>
        <div class="form-item cf">
            <label class="item-label">图片<span class="check-tips"></span></label>
            <div class="controls">
                <div class="controls">
                    <input type="file" id="upload_picture_image">
                    <input type="hidden" name="image" id="cover_id_image" value="{$image}" />
                    <div class="upload-img-box">
                        <notempty name="image">
                        <div class="upload-pre-item"><img src="__ROOT__{$image}"/></div>
                        </notempty>
                    </div>
                </div>
                {:hook('adminPicUpload', array('id'=>"upload_picture_image",'return'=>"cover_id_image", 'type' => 'path'))}                                                              
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">状态<span class="check-tips"></span></label>
            <input type="radio" name="status" <if condition="$status eq 1 or $status eq ''">checked</if> value="1"  /> 开启
            <input type="radio" name="status" <eq name="status" value="0">checked</eq> value="0"  />禁用
        </div>
        <div class="form-item">
            <input type="hidden" name="id" value="{$id}" />
            <button class="btn submit-btn ajax-post btn-success btn-block" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <!-- <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button> -->
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Ads/index')}');
    </script>
</block>
