<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>
            <if condition="ACTION_NAME eq 'add'">
                新增栏目
            <else/>
                编辑栏目
            </if>
        </h2>
    </div>
    <hr>
    <form action="" method="post" class="form">
        <div class="form-item">
            <label class="item-label">名称<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="title" value="{$title}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">标识<span class="check-tips">须纯英文且唯一</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="code" value="{$code}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">地址<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="url" value="{$url}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">seo标题<span class="check-tips"></span></label>
            <div class="controls">
                <label class="textarea input-large">
                    <textarea name="seo_title">{$seo_title}</textarea>
                </label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">seo描述<span class="check-tips"></span></label>
            <div class="controls">
                <label class="textarea input-large">
                    <textarea name="seo_descrition">{$seo_descrition}</textarea>
                </label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">seo关键词<span class="check-tips"></span></label>
            <div class="controls">
                <label class="textarea input-large">
                    <textarea name="seo_keywords">{$seo_keywords}</textarea>
                </label>
            </div>
        </div>
        <div class="form-item cf">
            <label class="item-label">类型</label>
            <div class="controls">
                <input type="radio" <eq name="data[type]" value="0">checked="checked"</eq>  value="0" name="type"/>
                <label for="resumeUser">系统</label>
                <input type="radio" <eq name="data[type]" value="1">checked="checked"</eq> value="1" name="type"/>
                <label for="forbidUser">其他</label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">状态<span class="check-tips"></span></label>
            <input type="radio" name="status" <if condition="$status eq 1 or $status eq ''">checked</if> value="1"  /> 开启
            <input type="radio" name="status" <eq name="status" value="0">checked</eq> value="0"  / title="禁用"><i class="glyphicon glyphicon-ban-circle"></i>
        </div>
        <div class="form-item">
            <input type="hidden" name="id" value="{$id}" />
            <button class="btn submit-btn ajax-post btn-success btn-block" id="submit" type="submit" target-form="form">确 定</button>
            <!-- <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button> -->
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Nav/index')}');
    </script>
</block>
