 <div class="container-span top-columns cf">
	<dl class="show-num-mod">
		<dt><i class="count-icon user-count-icon"></i></dt>
		<dd>
			<strong>{$info.user}</strong>
			<span>用户数</span>
		</dd>
	</dl>
	<!-- <dl class="show-num-mod">
		<dt><i class="count-icon user-action-icon"></i></dt>
		<dd>
			<strong>{$info.action}</strong>
			<span>用户行为</span>
		</dd>
	</dl>
	<dl class="show-num-mod">
		<dt><i class="count-icon doc-count-icon"></i></dt>
		<dd>
			<strong>{$info.document}</strong>
			<span>文档数</span>
		</dd>
	</dl>
	<dl class="show-num-mod">
		<dt><i class="count-icon doc-modal-icon"></i></dt>
		<dd>
			<strong>{$info.model}</strong>
			<span>文档模型</span>
		</dd>
	</dl>
	<dl class="show-num-mod">
		<dt><i class="count-icon category-count-icon"></i></dt>
		<dd>
			<strong>{$info.category}</strong>
			<span>分类数</span>
		</dd>
	</dl> -->
</div>