<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>设置视频【{$data['title']}】栏目</h2>
    </div>
    <div class="tab-content">
    <form action="" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">栏目</label>
            <div class="controls">
                <!-- <select name="topics[]" multiple=""> -->
                    <volist name="topic" id="t">
                        <label><input <eq name="t.selected" value="1">checked</eq> value="{$t.id}" type="checkbox" name="topics[]" value="{$t.id}">{$t.title}</label>
                        <!-- <option <eq name="t.selected" value="1">selected</eq> value="{$t.id}">{$t.title}</option> -->
                    </volist>
                <!-- </select> -->
            </div>
        </div>
        <div class="form-item">
            <button class="btn submit-btn ajax-post btn-success btn-block" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <!-- <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button> -->
        </div>
    </form>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Video/index')}');
        showTab();
        
    </script>
</block>
