<div class="span{$addons_config.width}">
	<div class="columns-mod">
		<div class="hd cf">
			<h5>{$addons_config.title}</h5>
			<div class="title-opt">
			</div>
		</div>
		<div class="bd">
			<div class="sys-info">
				<table>
					<tr>
						<th>后台管理版本</th>
						<td>1.0&nbsp;&nbsp;&nbsp;
							<notempty name="addons_config.new_version">
								<a href="http://www.onethink.cn" target="_blank">
									发现新版本[{$addons_config.new_version}]
								</a>
							</notempty>
						</td>
					</tr>
					<tr>
						<th>服务器操作系统</th>
						<td>{$Think.const.PHP_OS}</td>
					</tr>
					<tr>
						<th>ThinkPHP版本</th>
						<td>{$Think.VERSION}</td>
					</tr>
					<tr>
						<th>运行环境</th>
						<td>{$_SERVER['SERVER_SOFTWARE']}</td>
					</tr>
					<tr>
						<th>MYSQL版本</th>
						<php>
							$system_info_mysql = M()->query("select version() as v;");
						</php>
						<td>{$system_info_mysql.0.v}</td>
					</tr>
					<tr>
						<th>上传限制</th>
						<td>{:ini_get('upload_max_filesize')}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>