<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>栏目列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('Nav/add')}">新 增</a>
            <button class="btn btn-default ajax-post" url="{:U('Nav/changeStatus',array('method'=>'resume'))}" target-form="ids">启 用</button>
            <button class="btn btn-default ajax-post" url="{:U('Nav/changeStatus',array('method'=>'forbid'))}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm btn-danger" url="{:U('Nav/del')}" target-form="ids">删 除</button>
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="name" class="search-input" value="{:I('name')}" placeholder="请输入栏目名">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="table table-bordered">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">ID</th>
		<th class="">名称</th>
		<th class="">标识</th>
		<th class="">地址</th>
		<th class="">类型</th>
		<th class="">录入时间</th>
		<th class="">更新时间</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td>{$vo.title}</td>
			<td>{$vo.code}</td>
			<td>{$vo.url}</td>
			<td>
				<eq name="vo.type" value='1'>
				其他
				<else/>
				系统
				</eq>
			</td>
			<td><span>{$vo.create_time|time_format}</span></td>
			<td><span>{$vo.update_time|time_format}</span></td>
			<td>{$vo.status_text}</td>
			<td>
				<a href="{:U('Nav/edit?id='.$vo['id'])}">编辑</a>
				<eq name="vo.status" value="1">
					<a href="{:U('Nav/changeStatus?method=forbid&id='.$vo['id'])}" class="ajax-get">禁用</a>
				<else/>
					<a href="{:U('Nav/changeStatus?method=resume&id='.$vo['id'])}" class="ajax-get">启用</a>
				</eq>
				<a href="{:U('Nav/del?id='.$vo['id'])}" class="confirm ajax-get">删除</a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="8" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('Nav/index')}');
	</script>
</block>
