<extend name="Public/base"/>

<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>
            <if condition="ACTION_NAME eq 'add'">
                新增游戏
            <else/>
                编辑游戏
            </if>
        </h2>
    </div>
    <hr>
    <form action="" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">标题<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$name}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">排序<span class="check-tips">（用于显示的顺序）</span></label>
            <div class="controls">
                <input type="text" class="text input-small" name="sort" value="{$sort|default=1}">
            </div>
        </div>
        <div class="form-item cf">
            <label class="item-label">图片<span class="check-tips">(请按照最长边不低于400px png)</span></label>
            <div class="controls">
                <div class="controls">
                    <input type="file" id="upload_picture_pic">
                    <input type="hidden" name="pic" id="cover_id_pic" value="{$pic}" />
                    <div class="upload-img-box">
                        <notempty name="pic">
                        <div class="upload-pre-item"><img src="__ROOT__{$pic}"/></div>
                        </notempty>
                    </div>
                </div>
                {:hook('adminPicUpload', array('id'=>"upload_picture_pic",'return'=>"cover_id_pic", 'type' => 'path'))}                                                              
            </div>
        </div>
        <div class="form-item cf">
            <label class="item-label">封面<span class="check-tips">(183*249 jpg)</span></label>
            <div class="controls">
                <div class="controls">
                    <input type="file" id="upload_picture_cover">
                    <input type="hidden" name="cover" id="cover_id_cover" value="{$cover}" />
                    <div class="upload-img-box">
                        <notempty name="cover">
                        <div class="upload-pre-item"><img src="__ROOT__{$cover}"/></div>
                        </notempty>
                    </div>
                </div>
                {:hook('adminPicUpload', array('id'=>"upload_picture_cover",'return'=>"cover_id_cover", 'type' => 'path'))}                                                              
            </div>
        </div>
        <div class="form-item cf">
            <label class="item-label">背景图<span class="check-tips">(1280*720 jpg)</span></label>
            <div class="controls">
                <div class="controls">
                    <input type="file" id="upload_picture_back">
                    <input type="hidden" name="background" id="cover_id_back" value="{$background}" />
                    <div class="upload-img-box">
                        <notempty name="background">
                        <div class="upload-pre-item"><img src="__ROOT__{$background}"/></div>
                        </notempty>
                    </div>
                </div>
                {:hook('adminPicUpload', array('id'=>"upload_picture_back",'return'=>"cover_id_back", 'type' => 'path'))}                                                              
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">描述<span class="check-tips"></span></label>
            <div class="controls">
                <label class="textarea input-large">
                    <textarea name="detail">{$detail}</textarea>
                </label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">状态<span class="check-tips"></span></label>
            <input type="radio" name="status" <if condition="$status eq 1 or $status eq ''">checked</if> value="1"  /> 开启
            <input type="radio" name="status" <eq name="status" value="0">checked</eq> value="0"  />禁用
        </div>
        <div class="form-item">
            <input type="hidden" name="id" value="{$id}" />
            <button class="btn submit-btn ajax-post btn-success btn-block" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <!-- <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button> -->
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Game/index')}');
    </script>
</block>
