<div class="span{$addons_config.width}">
	<div class="columns-mod">
		<div class="hd cf">
			<h5>产品团队</h5>
			<div class="title-opt">
			</div>
		</div>
		<div class="bd">
			<div class="sys-info">
				<table>
					<tr>
						<th>总策划</th>
						<td>谢赤心</td>
					</tr>
					<tr>
						<th>产品设计及研发团队</th>
						<td>谢赤心</td>
					</tr>
					<tr>
						<th>界面及用户体验团队</th>
						<td>谢赤心</td>
					</tr>
					<tr>
						<th>官方网址</th>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>