<script type="text/javascript">
//上传图片
/* 初始化上传插件 */
$("#{$addons_data.id}").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传图片",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
    "width"           : 120,
    'removeTimeout'	  : 1,
    'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : uploadPicture_{$addons_data.id},
    'onFallback' : function() {
        alert('未检测到兼容版本的Flash.');
    }
});
function uploadPicture_{$addons_data.id}(file, data){
	var data = $.parseJSON(data);
	var src = '';
    if(data.status){
    	$("#{$addons_data.return}").val(data.{$addons_data.type});
    	src = data.url || '__ROOT__' + data.path
    	$("#{$addons_data.return}").parent().find('.upload-img-box').html(
    		'<div class="upload-pre-item"><img src="' + src + '"/></div>'
    	);
    } else {
    	updateAlert(data.info);
    	setTimeout(function(){
            $('#top-alert').find('button').click();
            $(that).removeClass('disabled').prop('disabled',false);
        },1500);
    }
}
</script>