<extend name="Public/base"/>

<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>
            <if condition="ACTION_NAME eq 'add'">
                新增图标包
            <else/>
                编辑图标包
            </if>
        </h2>
    </div>
    <hr>
    <form action="" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">包名<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$name|htmlspecialchars_decode}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">类型<span class="check-tips"></span></label>
            <div class="controls">
                <select id="type" name="type">
                        <option value="">选择类型</option>
                    <volist name=":C('ICON_PACKS_TYPE')" id="t">
                        <option value="{$key}">{$t}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">描述<span class="check-tips"></span></label>
            <div class="controls">
                <label class="textarea input-large">
                    <textarea name="detail">{$detail}</textarea>
                </label>
            </div>
        </div>
       
        <div class="form-item">
            <input type="hidden" name="id" value="{$id}" />
            <button class="btn submit-btn ajax-post btn-success btn-block" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <!-- <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button> -->
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('index')}');
        Think.setValue("type", '{$type}');
    </script>
</block>
