<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>【{$adsName}】广告列表 <button class="btn btn-default btn-return" onclick="javascript:history.back(-1);return false;"><i class="glyphicon glyphicon-share-alt"></i> 返 回</button></h2>
	</div>
	<div class="cf">
		<div class="fl">
			<a title="新增" class="btn btn-primary" href="{:U('add',array('adsId'=>$adsId))}"><i class="glyphicon glyphicon-plus"></i></a>
            <button class="btn btn-default ajax-post" url="{:U('Ad/changeStatus',array('method'=>'resume'))}" target-form="ids"><i class="glyphicon glyphicon-ok-circle"></i> 启 用</button>
            <button class="btn btn-default ajax-post" url="{:U('Ad/changeStatus',array('method'=>'forbid'))}" target-form="ids"><i class="glyphicon glyphicon-ban-circle"></i> 禁 用</button>
            <button class="btn ajax-post confirm btn-danger" url="{:U('Ad/del')}" target-form="ids">删 除</button>
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="name" class="search-input" value="{:I('name')}" placeholder="请输入广告名">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="table table-bordered">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<!-- <th>ID</th> -->
		<th>广告图</th>
		<th>名称</th>
		<th>录入时间</th>
		<th>更新时间</th>
		<th>排序</th>
		<th>状态</th>
		<th>操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<!-- <td>{$vo.id} </td> -->
			<td><img src="__ROOT__{$vo.image}" width="50px" height="50px" /></td>
			<td>{$vo.name}</td>
			<td><span>{$vo.create_time|time_format}</span></td>
			<td><span>{$vo.update_time|time_format}</span></td>
			<td>{$vo.sort}</td>
			<td>{$vo.status_text}</td>
			<td>
				<a class="btn btn-default btn-xs" title="编辑" href="{:U('edit?id='.$vo['id'].'&adsId='.$adsId)}"><i class="glyphicon glyphicon-pencil"></i></a>
				<eq name="vo.status" value="1">
					<a href="{:U('changeStatus?method=forbid&id='.$vo['id'])}" class="ajax-get btn btn-default btn-xs" title="禁用"><i class="glyphicon glyphicon-ban-circle"></i></a>
				<else/>
					<a href="{:U('changeStatus?method=resume&id='.$vo['id'])}" class="ajax-get btn btn-default btn-xs" title="启用"><i class="glyphicon glyphicon-ok-circle"></i></a>
				</eq>
				<a href="{:U('del?id='.$vo['id'])}" class="confirm ajax-get btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('Ads/index')}');
	</script>
</block>
