<extend name="Public/base"/>

<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>
            编辑推荐  【{$video_id|getVideoName}】
        </h2>
    </div>
    <hr>
    <form action="" method="post" class="form-horizontal">
       
        <div class="form-item cf">
            <label class="item-label">小图<span class="check-tips">( 304*171 jpg )</span></label>
            <div class="controls">
                <div class="controls">
                    <input type="file" id="upload_picture_thumb">
                    <input type="hidden" name="thumb" id="cover_id_thumb" value="{$thumb}" />
                    <div class="upload-img-box">
                        <notempty name="thumb">
                        <div class="upload-pre-item"><img src="__ROOT__{$thumb}"/></div>
                        </notempty>
                    </div>
                </div>
                {:hook('adminPicUpload', array('id'=>"upload_picture_thumb",'return'=>"cover_id_thumb", 'type' => 'path'))}                                                              
            </div>
        </div>
        <div class="form-item cf">
            <label class="item-label">大图<span class="check-tips">(1280*720 jpg)</span></label>
            <div class="controls">
                <div class="controls">
                    <input type="file" id="upload_picture_cover">
                    <input type="hidden" name="cover" id="cover_id_cover" value="{$cover}" />
                    <div class="upload-img-box">
                        <notempty name="cover">
                        <div class="upload-pre-item"><img src="__ROOT__{$cover}"/></div>
                        </notempty>
                    </div>
                </div>
                {:hook('adminPicUpload', array('id'=>"upload_picture_cover",'return'=>"cover_id_cover", 'type' => 'path'))}                                                              
            </div>
        </div>
         
        <div class="form-item">
            <label class="item-label">排序<span class="check-tips">(越大越排前)</span></label>
            <input class="text" name="sort" value="{$sort}" /> 
        </div>

        <div class="form-item">
            <label class="item-label">链接地址<span class="check-tips">(请输入完整链接地址 以 http:// 开头)</span></label>
            <input class="text input-large" name="link" value="{$link}" /> 
        </div>

        <div class="form-item">
            <input type="hidden" name="id" value="{$id}" />
            <button class="btn submit-btn ajax-post btn-success btn-block" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <!-- <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button> -->
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('index')}');
    </script>
</block>
