<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>推荐列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
			<button class="btn btn-default ajax-post" url="{:U('changeStatus',array('method'=>'resume'))}" target-form="ids">启 用</button>
            <button class="btn btn-default ajax-post" url="{:U('changeStatus',array('method'=>'forbid'))}" target-form="ids">禁 用</button>
            <button class="btn ajax-post confirm btn-danger" url="{:U('del')}" target-form="ids">删 除</button>
        </div>

        <!-- 高级搜索 -->
		
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="table table-bordered">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">视频名称</th>
		<th class="">大图</th>
		<th class="">小图</th>
		<th class="">排序</th>
		<th class="">状态</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td width="2%"><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td width="20%">{$vo.video_id|getVideoName} </td>
			<td width="15%"><div class="upload-img-box">
                <notempty name="vo.cover">
                    <div class="upload-pre-item"><img src="__ROOT__{$vo.cover}"/></div>
                </notempty>
                </div>
            </td>
            <td width="15%"><div class="upload-img-box">
                <notempty name="vo.thumb">
                    <div class="upload-pre-item"><img src="__ROOT__{$vo.thumb}"/></div>
                </notempty>
                </div>
            </td>
            <td width="20%">{$vo.sort} </td>
            <td width="20%">{$vo.status_text} </td>
			<td>
				<a class="btn btn-default btn-xs" title="编辑" href="{:U('edit?id='.$vo['id'])}"><i class="glyphicon glyphicon-pencil"></i></a>
				<a href="{:U('del?id='.$vo['id'])}" class="confirm ajax-get">删除</a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
    <div id="video-pre">
        <video controls="controls" autoplay="autoplay"></video>
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');

        var game  = $('.search-form').find('select').serialize();
        game = game.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        game = game.replace(/^&/g,'');

        if( url.indexOf('?')>0 ){
            url += '&' + query + '&' + game;
        }else{
            url += '?' + query + '&' + game;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('index')}');
	</script>
</block>
