<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>版本列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a title="新增" class="btn btn-primary" href="{:U('add')}"><i class="glyphicon glyphicon-plus"></i></a>
         <!--    <button class="btn btn-default ajax-post" url="{:U('changeStatus',array('method'=>'resume'))}" target-form="ids">启 用</button>
            <button class="btn btn-default ajax-post" url="{:U('changeStatus',array('method'=>'forbid'))}" target-form="ids">禁 用</button> -->
            <button class="btn ajax-post confirm btn-danger" url="{:U('del')}" target-form="ids">删 除</button>
        </div>

        <!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<!-- <input type="text" name="title" class="search-input" value="{:I('title')}" placeholder="请输入标题">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a> -->
			</div>
		</div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="table table-bordered">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">应用手机类型</th>
		<th class="">版本号</th>
		<th class="">md5</th>
		<th class="">地址</th>
		<th class="">是否强制更新</th>
		<th class="">发布时间</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
			<td>{$vo.type_text} </td>
			<td>{$vo.internal_version}</td>
			<td>{$vo.md5}</td>
			<td>{$vo.url}</td>
			<td>{$vo.force_update}</td>
			<td>{$vo.create_time|time_format}</td>
			<td>
				<a href="{:U('edit?game_id='.$game_id.'&id='.$vo['id'])}">编辑</a>
				<a href="{:U('del?id='.$vo['id'])}" class="confirm ajax-get">删除</a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
		</notempty>
	</tbody>
    </table>
	</div>
    <div class="page">
        {$_page}
    </div>
    <div id="video-pre">
        <video controls="controls" autoplay="autoplay"></video>
    </div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
    //导航高亮
    highlight_subnav('{:U('index')}');
    //视频预览
    $('.js-pre-video').on('click',function(){
        var url=$(this).attr('href');
        // alert(url);
        $('#video-pre').addClass('show').find('video').attr('src',url);
        return false;
    })
    $('video').click(function(e){
        return false;
    })
    $('#video-pre').click(function(){
        $(this).find('video').attr('src','');
        $(this).removeClass('show');
    })
	</script>
</block>
