<extend name="Public/base" />
<!-- 管理员用户组新增和编辑页面 -->
<block name="body">
	<div class="main-title">
		<h2>{$auth_group['id']?'编辑':'新增'}用户组</h2>
	</div>

    <form action="{:U('AuthManager/writeGroup')}" enctype="application/x-www-form-urlencoded" method="POST"
            >
        <div class="form-item">
            <label for="auth-title" class="item-label">用户组</label>
            <div class="controls">
                <input id="auth-title" type="text" name="title" class="text input-large" value="{$auth_group.title}"/>
            </div>
        </div>
        <div class="form-item">
            <label for="auth-description" class="item-label">描述</label>
            <div class="controls">
                <label class="textarea input-large"><textarea id="auth-description" type="text" name="description">{$auth_group.description}</textarea></label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">所属模块<span class="check-tips"></span></label>
            <input type="radio" name="module" <if condition="$data['module'] eq 'admin' or $data['module'] eq ''">checked</if> value="admin"  /> 后台
            <input type="radio" name="module" <eq name="data['module']" value="0">checked</eq> value="home"  />前台
        </div>
        <div class="form-item">
            <input type="hidden" name="id" value="{$auth_group.id}" />
            <button type="submit" class="btn submit-btn ajax-post" target-form="form">确 定</button>
            <!-- <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button> -->
        </div>
    </form>
<block>
<block name="script">
<script type="text/javascript" charset="utf-8">
    //导航高亮
    highlight_subnav('{:U('AuthManager/index')}');
</script>
</block>
