<extend name="Public/base" />

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
	<div class="main-title cf">
		<h2>
			批量导入 [
			<volist name="rightNav" id="nav">
			<a href="{:U('article/index','cate_id='.$nav['id'])}">{$nav.title}</a>
			<if condition="count($rightNav) gt $i"><i class="ca"></i></if>
			</volist>
			<present name="article">：<a href="{:U('article/index','cate_id='.$info['category_id'].'&pid='.$article['id'])}">{$article.title}</a></present>
			]
		</h2>
	</div>
	<!-- 标签页导航 -->
<div class="tab-wrap">
	<div class="tab-content">
	<!-- 表单 -->
	<form id="form" action="{:U('batchoperate')}" method="post" >
		<!-- 基础文档模型 -->
		<div id="tab1" class="tab-pane in tab1">

			<div class="form-item cf">
				<label class="item-label">文档模型<span class="check-tips">（选择要导入的文档模型）</span></label>
				<div class="controls">
					<select name="model_id">
						<volist name=":get_category($cate_id, 'model')" id="vo">
							<option value="{$vo.id}">{:get_document_model($vo['title'],'title')}</option>
						</volist>
					</select>
				</div>
			</div>
			<div class="form-item cf">
				<label class="item-label">文档类型<span class="check-tips">（选择要导入的文档类型，目前仅支持目录）</span></label>
				<div class="controls">
					<select name="type">
						<option value="1">目录</option>
					</select>
				</div>
			</div>
			<div class="form-item cf">
				<label class="item-label">导入的内容<span class="check-tips">（请按照导入格式输入）</span></label>
				<div class="controls">
					<label class="textarea input-large">
						<textarea name="content"></textarea>
					</label>
				</div>
				<span class="check-tips">导入格式：标识|标题(回车键)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;标识|标题</span>
			</div>
		</div>


		<div class="form-item cf">
			<button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form">确 定</button>
			<a class="btn btn-return" href="{:U('article/index?cate_id='.$cate_id)}">返 回</a>
			<input type="hidden" name="pid" value="{$pid}"/>
			<input type="hidden" name="cate_id" value="{$cate_id}">
		</div>
	</form>
	</div>
</div>
</block>

<block name="script">
<script type="text/javascript">

$('#submit').click(function(){
	$('#form').submit();
});


$(function(){


});
</script>
</block>
