<extend name="Public/base" />

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>回收站({:count($list)})</h2>
	</div>

    <div class="tools auth-botton">
        <button url="{:U('article/clear')}" class="btn ajax-get">清 空</button>
        <button url="{:U('article/permit')}" class="btn ajax-post" target-form="ids">还 原</button>
    </div>

	<!-- 数据列表 -->
	<div class="data-table table-striped">
			<table class="table table-bordered">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">编号</th>
		<th class="">标题</th>
		<th class="">创建者</th>
		<th class="">类型</th>
		<th class="">分类</th>
		<th class="">删除时间</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		<volist name="list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td>{$vo.title}</td>
			<td>{$vo.username} </td>
			<td><span>{:get_document_type($vo['type'])}</span></td>
			<td><span>{:get_cate($vo['category_id'])}</span></td>
			<td><span>{$vo.update_time|time_format}</span></td>
			<td><a href="{:U('article/permit?ids='.$vo['id'])}" class="ajax-get">还原</a>
                </td>
		</tr>
		</volist>
	</tbody>
    </table> 
        
	</div>
    <div class="page">
        {$_page}
    </div>
</block>
