<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>新增用户 <button class="btn btn-default btn-return" onclick="javascript:history.back(-1);return false;"><i class="glyphicon glyphicon-share-alt"></i> 返 回</button></h2>
    </div>
    <form action="{:U()}" method="post" >
        <div class="form-item form-group">
            <label class="item-label">用户名<span class="check-tips">（用户名会作为默认的昵称）</span></label>
            <div class="controls">
                <input type="text" class="text form-control input-large" name="username" value="">
            </div>
        </div>
        <div class="form-item form-group">
            <label class="item-label">密码<span class="check-tips">（用户密码不能少于6位）</span></label>
            <div class="controls">
                <input type="password" class="text form-control input-large" name="password" value="">
            </div>
        </div>
        <div class="form-item form-group">
            <label class="item-label">确认密码</label>
            <div class="controls">
                <input type="password" class="text form-control input-large" name="repassword" value="">
            </div>
        </div>
        <div class="form-item form-group">
            <label class="item-label">邮箱<span class="check-tips">（用户邮箱，用于找回密码等安全操作）</span></label>
            <div class="controls">
                <input type="text" class="text form-control input-large" name="email" value="">
            </div>
        </div>
        <div class="form-item form-group form-action">
            <button class="btn submit-btn ajax-post btn-success btn-block" id="submit" type="submit" target-form="form">确 定</button>
            <!-- <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button> -->
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
