<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->

		<div class="tab-wrap">
		<ul class="tab-nav nav">
		<li ><a href="{:U('updatenickname')}">修改昵称</a></li>
		<li class="current"><a href="{:U('updatepassword')}">修改密码</a></li>
		</ul>
		<div class="tab-content">
	<!-- 修改密码表单 -->
	<form action="{:U('User/submitPassword')}" method="post" >
		<div class="form-item">
			<label class="item-label">原密码：</label>
			<div class="controls">
				<input type="password" name="old" class="text input-large" autocomplete="off" />
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">新密码：</label>
			<div class="controls">
				<input type="password" name="password" class="text input-large" autocomplete="off" />
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">确认密码：</label>
			<div class="controls">
				<input type="password" name="repassword" class="text input-large" autocomplete="off" />
			</div>
		</div>
		<div class="form-item">
			<button type="submit" class="btn submit-btn ajax-post" target-form="form">确 认</button>
			<!-- <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button> -->
		</div>
	</form>
			</div>
	</div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
</block>
